@model NormanManley.Models.StudentVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentFirstName" class="control-label"></label>
                <input asp-for="StudentFirstName" class="form-control" />
                <span asp-validation-for="StudentFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentLastName" class="control-label"></label>
                <input asp-for="StudentLastName" class="form-control" />
                <span asp-validation-for="StudentLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Disabilities" class="control-label"></label>
                <input asp-for="Disabilities" class="form-control" />
                <span asp-validation-for="Disabilities" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ParentFirstName" class="control-label"></label>
                <input asp-for="ParentFirstName" class="form-control" />
                <span asp-validation-for="ParentFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentLastName" class="control-label"></label>
                <input asp-for="ParentLastName" class="form-control" />
                <span asp-validation-for="ParentLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianFirstName" class="control-label"></label>
                <input asp-for="GuardianFirstName" class="form-control" />
                <span asp-validation-for="GuardianFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianLastName" class="control-label"></label>
                <input asp-for="GuardianLastName" class="form-control" />
                <span asp-validation-for="GuardianLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
