@{
    ViewData["Title"] = "Home Page";
}
    <div id="slider">
        <figure>
            <img src="~/Pictures/SignLang2.jpg" />
            <img src="~/Pictures/graduation.jpg" />
            <img src="~/Pictures/Wheeelchair.jpg" />
            <img src="~/Pictures/GilrlInWalker.jpg" />
        </figure>
    </div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
